#kv {
    min-height: 100dvh;
}

.webglview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.section {
    display: flex;
    min-height: 150vh;

    .inner {
        flex: 1;
        margin: 0 auto;
        padding: 0 var(--content-padding);
        max-width: var(--content-width);
        text-align: left;
        align-items: center; // 縦中央

        .info {
            position: sticky;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.section.first {
    h2 {
        font-family: var(--font-eb-garamond);
        font-size: 2rem;
    }
}

.entry {

    img {
        width: auto;
        height: 128px;
        border-radius: 3px;
    }
}

.header {}

.footer {}

.section.footer {

    background-color: #000;
    color: #fff;

    min-height: 100vh !important;

    .inner {
        padding-top: 1em;
        padding-bottom: 1em;
        position: static;

        .info {
            top: 0;
            transform: translateY(0%);
        }

    }
}